@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0 5em;
    background-color: green;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
    background-size: 400% 400%;
}

img{
    width: 50px;
    height: 50px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

header nav article.redirection a{
    text-decoration: none;
    color: white;
    margin: 0 1em;
}


#login {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
#login {
   margin: 0;
   padding: 14px 24px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 2px #eee;
   border-radius: 5px;
   /* display: block; */
 }

 #login:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


#register {background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%)}
#register {
    margin: 0;
    padding: 14px 24px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 2px #eee;
    border-radius: 5px;
  }

#register:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 


main section.first-page{
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: solid red; */
}

main section.first-page .hero-banner{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
main section.first-page .hero-banner article{
    /* border: solid brown; */
    width: 40%;
}
main section.first-page .hero-banner article h2{
    font-size: 42px;
}

main section.first-page .hero-banner article section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid green; */
}
main section.first-page .hero-banner article section input{
    padding: 2% 5%;
}
main section.first-page .hero-banner article section p{
    /* border: solid red; */
    width: 75%;
}

main section.first-page .features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main section.first-page .features article{
    width: 29%;
}    