@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background-color: green;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
    background-size: 400% 400%;
}

img{
    width: 50px;
    height: 50px;
}

header{
    margin: 0 5em;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

header nav article.redirection a{
    text-decoration: none;
    color: white;
    margin: 0 1em;
}


#login {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
#login {
   margin: 0;
   padding: 14px 24px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 1px #eee;
   border-radius: 5px;
   /* display: block; */
 }

 #login:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


#register {background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%)}
#register {
    margin: 0;
    padding: 14px 24px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 1px #eee;
    border-radius: 5px;
  }

#register:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

main{
    margin: 0 5em;
}
main section.first-page{
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: solid red; */
}


main section.first-page .hero-banner{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
main section.first-page .hero-banner article{
    /* border: solid brown; */
    width: 40%;
}
main section.first-page .hero-banner article h2{
    font-size: 42px;
}
main section.first-page .hero-banner article p{
    text-align: left;
    width: 85%;
    margin-bottom: 1em;
}

main section.first-page .hero-banner article section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid green; */
}
main section.first-page .hero-banner article section input{
    padding: 2% 5%;
}
main section.first-page .hero-banner article section p{
    /* border: solid red; */
    width: 65%;
}
#herobanner-btn {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
#herobanner-btn {
   text-decoration: none;
   margin: 0;
   padding: 14px 24px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 1px #eee;
   border-radius: 5px;
   /* display: block; */
 }

 #herobanner-btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.main-accueil .hero-banner img{
    width: 100%;
    height: 75%;
    box-shadow: 0 0 5px #454343;
    border-radius: 10px;
}
/* Features */
main section.first-page .features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main section.first-page .features article{
    width: 29%;
}    
main section.first-page .features section{
    display: flex;
    align-items: center;
}
main section.first-page .features section img{
    margin-right: 1em;
    width: 40px;
}
main section.first-page .features article p{
    text-align: left;
}

/* Avantages */

.main-avantages article{
    display: flex; 
    justify-content: space-evenly;
    margin: 10% 0;
}
.main-avantages article section{
    width: 40%;
}

.main-avantages article img{
    /* border: solid red; */
    width: 30%;
    height: 250px;
    border-radius: 10px;
    
}
.main-avantages article section p{
    margin-top: 2em;
    text-align: left;
}
/* Avis */
/* Des chiffres */
.main-chiffres{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
}
.main-chiffres article{
    /* background-color: white; */
    /* border: solid grey 1px; */
    width: 15%;
    padding: 20px;
    box-shadow: 0 0 10px #434141;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around; */
}
.main-chiffres article h3, p{
    margin: 8px 0;
    text-align: center;
}

/* Foire aux questions */

.main-faq article.question{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-faq article.question section{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    border-top: solid grey 1px;
}
.main-faq h2{
    text-align: center;
    margin-bottom: 3em;
    font-size: 40px;
}
.main-faq h3{
    font-size: 24px;

}
.main-faq .question section img{
    width: 15px;
}
.main-faq .question p{
    text-align: left;
    margin-top: 2em;
    width: 70%;
}

/* Footer */
footer{
    /* border: solid red; */
    margin-top: 3em;
    padding: 3em 0;
    background-color: #212121;
    color: white;
}

footer section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer section article{
    display: flex;
    flex-direction: column;
 }

footer section article section{
    display: flex;
    flex-direction: column;
}

footer section article a{
    text-decoration: none;
    color: white;
    line-height: 3em;
}
footer #footer-logo{
    font-size: 42px;
    text-align: center;
}

footer #footer-help{
    /* line-height: 0; */
}
footer #footer-support{
    font-size: 20px;
    font-weight: bold;
}
footer #copyright{
    color: #8a8b85;
    margin-top: 5em;
}